<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--
    -->
    
    <context-param>
        <param-name>org.srs.datacat.srs_client_id</param-name>
        <param-value>${srsClientId}</param-value>
    </context-param>
    
    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresByType image</param-name>
            <param-value>access plus 30 minutes</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/css</param-name>
            <param-value>access plus 30 minutes</param-value>
        </init-param>
       
        <init-param>
            <param-name>ExpiresByType application/javascript</param-name>
            <param-value>access plus 30 minutes</param-value>
        </init-param>

        <init-param>
            <param-name>ExpiresByType text/javascript</param-name>
            <param-value>access plus 30 minutes</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>org.srs.web.base.filters.login.LoginFilter</filter-class>
        <init-param>
            <param-name>enableHmac</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>configDb</param-name>
            <param-value>${experiment.configuration.database}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.srs.webapps.datacat.App</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>org.srs.datacat.rest;org.srs.datacat.rest.resources</param-value>
        </init-param>
        
        <init-param>
            <param-name>jersey.config.server.response.setStatusOverSendError</param-name>
            <param-value>true</param-value>
        </init-param>
        
        <!--
        <init-param>
            <param-name>jersey.config.server.tracing.type</param-name>
            <param-value>ALL</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.tracing.threshold</param-name>
            <param-value>VERBOSE</param-value>
        </init-param>
        -->
        
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <!-- using base of host/rest/datacat -->
        <url-pattern>/r/*</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>org.srs.webapps.datacat.WebApp</filter-name>
        <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.srs.webapps.datacat.WebApp</param-value>
        </init-param>
        <!-- pass to next filter if Jersey/App returns 404 -->
        <init-param>
            <param-name>jersey.config.servlet.filter.forwardOn404</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>org.srs.webapps.datacat.WebApp</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>display/browser/</welcome-file>
    </welcome-file-list>
</web-app>
