<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>restResourceBaseURL</param-name>
        <param-value>/rest-datacat-v1/r</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>org.srs.web.base.filters.login.LoginFilter</filter-class>
        <init-param>
            <param-name>requireLogin</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>configDb</param-name>
            <param-value>${experiment.configuration.database}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--
    <filter>
        <filter-name>GroupManagerFilter</filter-name>
        <filter-class>org.srs.groupmanager.filter.GroupCheckerFilter</filter-class>
        <init-param>
            <param-name>groups</param-name>
            <param-value>ExoUsers</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>GroupManagerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    <filter>
        <filter-name>ModeSwitcherFilter</filter-name>
        <filter-class>org.srs.web.base.filters.modeswitcher.ModeSwitcherFilter</filter-class>
        <init-param>
            <param-name>experiment</param-name>
            <param-value>${experiment.name}</param-value>
        </init-param>
        <init-param>
            <param-name>configDb</param-name>
            <param-value>${experiment.configuration.database}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ModeSwitcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- MultiPart Filter -->
    <filter>
        <filter-name>MultipartFilter</filter-name>
        <filter-class>org.srs.web.base.filters.multipart.MultipartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MultipartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>BrowserController</servlet-name>
        <servlet-class>org.srs.webapps.datacat.controllers.BrowserController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrowserController</servlet-name>
        <!-- using base of host/rest/datacat -->
        <url-pattern>/browser/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <servlet-name>BrowserController</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>path.jsp</welcome-file>
    </welcome-file-list>
</web-app>
